table.gridtable {
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
DIV.quotes {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    MARGIN: 3px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: center;
    color:#000;
}

DIV.quotes A {
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ddd 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #ddd 1px solid;
    COLOR: #000;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ddd 1px solid;
    TEXT-DECORATION: none;
}

DIV.quotes A:hover {
    BORDER-RIGHT: #a0a0a0 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #a0a0a0 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #a0a0a0 1px solid;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #a0a0a0 1px solid;
}

DIV.quotes A:active {
    BORDER-RIGHT: #a0a0a0 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #a0a0a0 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #a0a0a0 1px solid;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #a0a0a0 1px solid;
}

DIV.quotes SPAN.current {
    BORDER-RIGHT: #e0e0e0 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #e0e0e0 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #e0e0e0 1px solid;
    COLOR: #fff;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #e0e0e0 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
}

DIV.quotes SPAN.disabled {
    BORDER-RIGHT: #f3f3f3 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #f3f3f3 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #f3f3f3 1px solid;
    COLOR: #ccc;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #d9d0a8 1px solid;
}


.login .hd {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: .13rem;
    padding-bottom: .13rem;
    border-bottom: dashed 1px #d9d0a8
}

.login .hd i {
    display: inline-block;
    width: .67rem;
    height: .67rem;
    background: url(../images/i-hy.png)/*tpa=http://hsxianlu.com/m/line/images/i-hy.png*/ no-repeat center center;
    background-size: 100% auto;
    vertical-align: top
}

.login .hd h2 {
    color:#fff;
    display: inline-block;
    font-size: .4rem;
    line-height: .67rem
}

.login .bd {
    *zoom: 1;
    border-bottom: dashed 1px #d9d0a8
}

.login .bd:before,.login .bd:after {
    content: "";
    display: table
}

.login .bd:after {
    clear: both
}

.login .login-reg {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: .2rem;
    padding-bottom: .2rem
}

.login .login-reg span {
    color:#fff;
    font-size: .45rem;
    line-height: .6rem
}

.login .login-reg a {
    display: inline-block;
    width: 1.87rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .37rem;
    -moz-border-radius: .4rem;
    -webkit-border-radius: .4rem;
    border-radius: 0.09rem;
    color: #fff;
    background: -webkit-linear-gradient(#d5b94b, #d5b94b);
    background: -o-linear-gradient(#d5b94b, #d5b94b);
    background: -moz-linear-gradient(#d5b94b, #d5b94b);
    background: linear-gradient(#d5b94b, #d5b94b)
}

.login .login-member {
    color: #fff;
    text-align: center;
    font-size: .45rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: .27rem;
    padding-bottom: .27rem
}

.login .login-member .row1 span {
    color: #fff;
    margin-left: .07rem;
    margin-right: .07rem;
    margin-top: 0;
    margin-bottom: 0
}

.login .login-member .row2 .link1,.login .login-member .row2 .link2 {
    color: #fff;
    display: inline-block;
    width: 1.47rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .37rem;
    -moz-border-radius: .4rem;
    -webkit-border-radius: .4rem;
    border-radius: .4rem
}

.login .login-member .row2 .link1 {
    color: #fff;
    background: -webkit-linear-gradient(#e5b100, #613b00);
    background: -o-linear-gradient(#e5b100, #613b00);
    background: -moz-linear-gradient(#e5b100, #613b00);
    background: linear-gradient(#e5b100, #613b00)
}

.login .login-member .row2 .link2 {
    color: #fff;
    width: 1.87rem;
    background: -webkit-linear-gradient(#fb0000, #560000);
    background: -o-linear-gradient(#fb0000, #560000);
    background: -moz-linear-gradient(#fb0000, #560000);
    background: linear-gradient(#fb0000, #560000)
}